POSTGRESQL=your-url-to-database
CONFIG_PATH=/mnt/server/config.yml or /bot/config.yml
TWITCH_TOKEN_URL=only-for-scripts-folder
ENVIRONMENT="PRODUCTION"

# Disabled
SENTRY_AUTH_TOKEN=
SENTRY_DSN=

# Database Help
# 
# Add Migration - prisma migrate dev --name <name>
# Deploy to Database - bunx prisma migrate deploy
# Read the Docs xD