bin/
obj/
/packages/
riderModule.iml
/DisBot.DiscordBot/appsettings.json
/DisBot.DiscordBot/appsettings.Development.json
/DisBot.API/appsettings.json
/DisBot.API/appsettings.Development.json
/DisBot.DiscordBot/appsettings.Development.json
/DisBot.Shared/obj
/DisBot.Shared/bin
/DisBot.API/bin
/DisBot.API/bin
/DisBot.DiscordBot/bin
DisBot.DiscordBot/obj
/_ReSharper.Caches/
Docker/.env
