bin/
obj/
/packages/
riderModule.iml
/DisBot.DiscordBot/appsettings.json
/DisBot.DiscordBot/appsettings.Development.json
/DisBot.API/appsettings.json
/DisBot.API/appsettings.Development.json
/DisBot.DiscordBot/appsettings.Development.json
/DisBot.Shared/obj
/DisBot.Shared/bin
/_ReSharper.Caches/
Docker/.env
