DISCORD_APPLICATION_TOKEN=token
DISCORD_ADMIN_GUILD_ID=
DISCORD_APPLICATION_ID=
LOGGING_GITHUB_API_KEY=
LOGGING_REPORT_FORUM_ID=
LOGGING_REPORT_FORUM_TAGS=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_DATABASE_NAME=disbot